
body {
    text-align: center;
    max-width: 1920px;
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.links {
    font-size: 25px;
}
h6 {
    font-size: 25px;
    text-align: right;
}
p {
    font-size:16px;
}

h1 {
    text-align: center;

}
h2 {
    text-align: center;
}

img {
    height: 500px;  
    width: 500px;
    float: left
}
h3 {
    font-size: 50px;
}

.header-img { 
    height: 35px;
    width: 100px;

}

.header-img-text {
    size-adjust: 10px;
}

div {
    height: 500px;
    margin: 20px;
}
.Logan-Saregant {
    height: 500px;
    width: 342px;
}
.Estaban-Ocon { 
    height: 500px;
    width: 333px;
}
.Pierre-Gasly {
    height: 500px;
    width: 601px;
}
.Valtteri-Bottas {
    Height: 500px;
    width: 375px; 
}
.Zhou-Guanyu {
    Height:500px;
    width: 333px;
}
.Kevin-Magnussen{
    height: 500px;
    width: 333px;
}
.Nico-Hulkenberg{
    height: 500px;
    width: 333px;
}
.Yuki-Tsunoda{
    height: 500px;
    width: 375px;
}
.Alex-Albon{
    height: 500px;
    width: 333px;
}
.Lance-Stroll{
    height: 500px;
    width: 333px;
}
.Daniel-Riccardo{
    height: 500px;
    width: 333px;
}
.Fernando-Alonso{
    height: 500px;
    width: 476px;
}
.Lewis-Hamilton{
    height: 500px;
    width: 375px;
}
.Oscar-Piastri{
    height:500px;
    width: 375px;
}
.George-Russell{
    height: 500px;
    width: 421px;
}
.Lando-Norris{
    height: 500px;
    width: 500px;
}
.Charles-Leclerc{
    height: 500px;
    width: 332px;
}
.Sergio-Perez{
    height: 500px;
    width: 333px;
}
.Carlos-Sainz{
    height: 500px;
    width: 333px;
}
.Max-Verstappen{
    height: 500px;
    width: 377px;
}
